#header_main {
	position: absolute;
	z-index: 2;
	width: 100%;
}
#header_main nav {
	width: 100%;
}
#header_main header {
	display: flex;
	padding: 4vw;
	line-height: 0.8;
	justify-content: space-between;
}
#header_main .logo {
	height: 3vw;
	width: 3vw;
	filter: invert(1);
}
#header_main .icons {
	height: 2vw;
}

#header_main ul {
	list-style-type: none;
	display: flex;
	gap: 10px;
	margin: 0;
	padding: 0;
	flex-direction: row;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#header_main li {
	margin: 0.3vw;
	padding-left: 1vw;
	box-shadow: none !important;
	list-style: none;
}

#header_main .titles {
	color: white;
	background-color: transparent;
	text-decoration: none;
	font-size: 1.5vw;
	font-weight: bold;
	box-shadow: none !important;
	transition: none !important;
	padding: 20px;
}

/* Responsive to view on mobile*/
@media screen and (max-width: 400px) {
	#header_main header {
		font-size: 3vw;
	}

	#header_main img {
		height: 4.5vw;
	}

	#header_main a {
		font-size: 4.5vw;
		font-weight: lighter;
	}
}
